<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
    <!-- 加载metro ui css 类库 -->
    <link rel="stylesheet" type="text/css" href="App/Themes/Lib/Metro-UI-CSS/css/metro-bootstrap.css" />
	<script type="text/javascript" src="App/Themes/Js/jquery.min.js"></script>
    <script type="text/javascript" src="App/Themes/Lib/Metro-UI-CSS/min/metro.min.js"></script>

    <!-- 加载index.html样式文件 -->
	<link rel="stylesheet" type="text/css" href="App/Themes/Css/index.css" />

    <!-- 加载index.html js文件 -->
    <!-- 网页横向滚动js -->
    <script type="text/javascript" src="App/Themes/Js/Scaoll.js" ></script> 
    <!-- index.html单网页js -->
    <script type="text/javascript" src="App/Themes/Js/index.js"></script>
</head>
<body class="metro">
<div id="page">
	<!-- 导航条开始 -->
	<div id="header">
		<nav class="navigation-bar">
        <div class="navigation-bar-content">
            <a href="/" class="element">
            	<span class="icon-grid-view"></span> XYing 分享 <sup>1.0</sup>
            </a>
            <span class="element-divider"></span>
			<a class="pull-menu" href="#"></a>
                <ul class="element-menu">
                    <li>
                        <a class="dropdown-toggle" href="#">.Net</a>
                        <ul class="dropdown-menu dark" data-role="dropdown">
                            <li>
                            	<a href="requirements.html">Requirements</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle">General CSS</a>
                                <ul class="dropdown-menu dark" data-role="dropdown">
                                    <li>
                                    	<a href="global.html">Global styles</a>
                                    </li>
                                    <li>
                                    	<a href="grid.html">Grid system</a>
                                    </li>
                                    <div class="divider"></div>
                                    <li>
                                    	<a href="typography.html">Typography</a></li>
                                        <li><a href="tables.html">Tables</a></li>
                                        <li><a href="forms.html">Forms</a></li>
                                        <li><a href="buttons.html">Buttons</a></li>
                                        <li><a href="images.html">Images</a></li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li><a href="responsive.html">Responsive</a></li>
                                <li class="disabled"><a href="layouts.html">Layouts and templates</a></li>
                                <li class="divider"></li>
                                <li><a href="icons.html">Icons</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-toggle"  href="#">Java</a>
                            <ul class="dropdown-menu dark" data-role="dropdown">
                                <li class="disabled"><a href="http://blog.metroui.net">Blog</a></li>
                                <li class="disabled"><a href="http://forum.metroui.net">Community Forum</a></li>
                                <li class="divider"></li>
                                <li><a href="https://github.com/olton/Metro-UI-CSS">Github</a></li>
                                <li class="divider"></li>
                                <li><a href="https://github.com/olton/Metro-UI-CSS/blob/master/LICENSE">License</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-toggle"  href="#">PHP</a>
                            <ul class="dropdown-menu dark" data-role="dropdown">
                                <li class="disabled"><a href="http://blog.metroui.net">Blog</a></li>
                                <li class="disabled"><a href="http://forum.metroui.net">Community Forum</a></li>
                                <li class="divider"></li>
                                <li><a href="https://github.com/olton/Metro-UI-CSS">Github</a></li>
                                <li class="divider"></li>
                                <li><a href="https://github.com/olton/Metro-UI-CSS/blob/master/LICENSE">License</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-toggle"  href="#">Python</a>
                            <ul class="dropdown-menu dark" data-role="dropdown">
                                <li class="disabled"><a href="http://blog.metroui.net">Blog</a></li>
                                <li class="disabled"><a href="http://forum.metroui.net">Community Forum</a></li>
                                <li class="divider"></li>
                                <li><a href="https://github.com/olton/Metro-UI-CSS">Github</a></li>
                                <li class="divider"></li>
                                <li><a href="https://github.com/olton/Metro-UI-CSS/blob/master/LICENSE">License</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-toggle"  href="#">Javacript</a>
                            <ul class="dropdown-menu dark" data-role="dropdown">
                                <li class="disabled"><a href="http://blog.metroui.net">Blog</a></li>
                                <li class="disabled"><a href="http://forum.metroui.net">Community Forum</a></li>
                                <li class="divider"></li>
                                <li><a href="https://github.com/olton/Metro-UI-CSS">Github</a></li>
                                <li class="divider"></li>
                                <li><a href="https://github.com/olton/Metro-UI-CSS/blob/master/LICENSE">License</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-toggle"  href="#">html5</a>
                            <ul class="dropdown-menu dark" data-role="dropdown">
                                <li class="disabled"><a href="http://blog.metroui.net">Blog</a></li>
                                <li class="disabled"><a href="http://forum.metroui.net">Community Forum</a></li>
                                <li class="divider"></li>
                                <li><a href="https://github.com/olton/Metro-UI-CSS">Github</a></li>
                                <li class="divider"></li>
                                <li><a href="https://github.com/olton/Metro-UI-CSS/blob/master/LICENSE">License</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-toggle"  href="#">c/c++</a>
                            <ul class="dropdown-menu dark" data-role="dropdown">
                                <li class="disabled"><a href="http://blog.metroui.net">Blog</a></li>
                                <li class="disabled"><a href="http://forum.metroui.net">Community Forum</a></li>
                                <li class="divider"></li>
                                <li><a href="https://github.com/olton/Metro-UI-CSS">Github</a></li>
                                <li class="divider"></li>
                                <li><a href="https://github.com/olton/Metro-UI-CSS/blob/master/LICENSE">License</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="no-tablet-portrait">
                        <div class="element input-element">
                            <form>
                                <div class="input-control text">
                                    <input type="text" placeholder="Search...">
                                    <button class="btn-search"></button>
                                </div>
                            </form>
                        </div>
                        <div class="element place-right">
                            <a class="dropdown-toggle" href="#">
                                <span class="icon-cog"></span>
                            </a>
                            <ul class="dropdown-menu place-right" data-role="dropdown">
                                <li><a href="#">我的代码</a></li>
                                <li><a href="#">我的中心</a></li>
                            </ul>
                        </div>
                        <span class="element-divider place-right"></span>
                        <button class="element image-button image-left place-right">
                            @user.name
                            <img src="App/Themes/Image/123.jpg" />
                        </button>
                    </div>
                </div>
        </nav>
  
	</div>
	<!-- 导航条结束 -->
	<!-- 内容开始 -->
	<div id="content">
        @foreach_tech
        <div class="tile triple double-vertical ol-transparent bg-white">
            <div class="tile-content">
                <div class="panel no-border">
                    <div class="title  panel-header fg-white">@title</div>
                    <div class="panel-content fg-dark nlp nrp">
                        <img src="@url" class="place-left margin10 nlm ntm size2">
                        <strong>Lorem Ipsum</strong>@body
                    </div>
                </div>
            </div>
        </div>
        @forend_tech
		<!--<div class="tile triple double-vertical ol-transparent bg-white">
                        <div class="tile-content">
                            <div class="panel no-border">
                                <div class="panel-header bg-pink fg-white">news</div>
                                <div class="panel-content fg-dark nlp nrp">
                                    <img src="App/Themes/Image/jeki_chan.jpg" class="place-left margin10 nlm ntm size2">
                                    <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    Lorem Ipsum has been the industry's standard dummy text.
                                </div>
                            </div>
                        </div>
                    </div>

        <div class="tile triple double-vertical ol-transparent bg-white">
                        <div class="tile-content">
                            <div class="panel no-border">
                                <div class="panel-header bg-lightBlue fg-white">news</div>
                                <div class="panel-content fg-dark nlp nrp">
                                    <img src="App/Themes/Image/jeki_chan.jpg" class="place-left margin10 nlm ntm size2">
                                    <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    Lorem Ipsum has been the industry's standard dummy text.
                                </div>
                            </div>
                        </div>
                    </div>

        <div class="tile triple double-vertical ol-transparent bg-white">
                        <div class="tile-content">
                            <div class="panel no-border">
                                <div class="panel-header bg-orange fg-white">news</div>
                                <div class="panel-content fg-dark nlp nrp">
                                    <img src="App/Themes/Image/jeki_chan.jpg" class="place-left margin10 nlm ntm size2">
                                    <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    Lorem Ipsum has been the industry's standard dummy text.
                                </div>
                            </div>
                        </div>
                    </div>

        <div class="tile triple double-vertical ol-transparent bg-white">
                        <div class="tile-content">
                            <div class="panel no-border">
                                <div class="panel-header bg-green fg-white">news</div>
                                <div class="panel-content fg-dark nlp nrp">
                                    <img src="App/Themes/Image/jeki_chan.jpg" class="place-left margin10 nlm ntm size2">
                                    <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    Lorem Ipsum has been the industry's standard dummy text.
                                </div>
                            </div>
                        </div>
                    </div>

        <div class="tile triple double-vertical ol-transparent bg-white">
                        <div class="tile-content">
                            <div class="panel no-border">
                                <div class="panel-header bg-pink fg-white">news</div>
                                <div class="panel-content fg-dark nlp nrp">
                                    <img src="App/Themes/Image/jeki_chan.jpg" class="place-left margin10 nlm ntm size2">
                                    <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    Lorem Ipsum has been the industry's standard dummy text.
                                </div>
                            </div>
                        </div>
                    </div>

        <div class="tile triple double-vertical ol-transparent bg-white">
                        <div class="tile-content">
                            <div class="panel no-border">
                                <div class="panel-header bg-teal fg-white">news</div>
                                <div class="panel-content fg-dark nlp nrp">
                                    <img src="App/Themes/Image/jeki_chan.jpg" class="place-left margin10 nlm ntm size2">
                                    <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    Lorem Ipsum has been the industry's standard dummy text.
                                </div>
                            </div>
                        </div>
                    </div>

        <div class="tile triple double-vertical ol-transparent bg-white">
                        <div class="tile-content">
                            <div class="panel no-border">
                                <div class="panel-header bg-pink fg-white">news</div>
                                <div class="panel-content fg-dark nlp nrp">
                                    <img src="App/Themes/Image/jeki_chan.jpg" class="place-left margin10 nlm ntm size2">
                                    <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    Lorem Ipsum has been the industry's standard dummy text.
                                </div>
                            </div>
                        </div>
                    </div>

        <div class="tile triple double-vertical ol-transparent bg-white">
                        <div class="tile-content">
                            <div class="panel no-border">
                                <div class="panel-header bg-teal fg-white">news</div>
                                <div class="panel-content fg-dark nlp nrp">
                                    <img src="App/Themes/Image/jeki_chan.jpg" class="place-left margin10 nlm ntm size2">
                                    <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    Lorem Ipsum has been the industry's standard dummy text.
                                </div>
                            </div>
                        </div>
                    </div>

        <div class="tile triple double-vertical ol-transparent bg-white">
                        <div class="tile-content">
                            <div class="panel no-border">
                                <div class="panel-header bg-green fg-white">news</div>
                                <div class="panel-content fg-dark nlp nrp">
                                    <img src="App/Themes/Image/jeki_chan.jpg" class="place-left margin10 nlm ntm size2">
                                    <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    Lorem Ipsum has been the industry's standard dummy text.
                                </div>
                            </div>
                        </div>
                    </div>

        <div class="tile triple double-vertical ol-transparent bg-white">
                        <div class="tile-content">
                            <div class="panel no-border">
                                <div class="panel-header bg-pink fg-white">news</div>
                                <div class="panel-content fg-dark nlp nrp">
                                    <img src="App/Themes/Image/jeki_chan.jpg" class="place-left margin10 nlm ntm size2">
                                    <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    Lorem Ipsum has been the industry's standard dummy text.
                                </div>
                            </div>
                        </div>
                    </div>

        <div class="tile triple double-vertical ol-transparent bg-white">
                        <div class="tile-content">
                            <div class="panel no-border">
                                <div class="panel-header bg-green fg-white">news</div>
                                <div class="panel-content fg-dark nlp nrp">
                                    <img src="App/Themes/Image/jeki_chan.jpg" class="place-left margin10 nlm ntm size2">
                                    <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    Lorem Ipsum has been the industry's standard dummy text.
                                </div>
                            </div>
                        </div>
                    </div>

        <div class="tile triple double-vertical ol-transparent bg-white">
                        <div class="tile-content">
                            <div class="panel no-border">
                                <div class="panel-header bg-teal fg-white">news</div>
                                <div class="panel-content fg-dark nlp nrp">
                                    <img src="App/Themes/Image/jeki_chan.jpg" class="place-left margin10 nlm ntm size2">
                                    <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    Lorem Ipsum has been the industry's standard dummy text.
                                </div>
                            </div>
                        </div>
                    </div>

        <div class="tile triple double-vertical ol-transparent bg-white">
                        <div class="tile-content">
                            <div class="panel no-border">
                                <div class="panel-header bg-teal fg-white">news</div>
                                <div class="panel-content fg-dark nlp nrp">
                                    <img src="App/Themes/Image/jeki_chan.jpg" class="place-left margin10 nlm ntm size2">
                                    <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    Lorem Ipsum has been the industry's standard dummy text.
                                </div>
                            </div>
                        </div>
                    </div>

        <div class="tile triple double-vertical ol-transparent bg-white">
                        <div class="tile-content">
                            <div class="panel no-border">
                                <div class="panel-header bg-teal fg-white">news</div>
                                <div class="panel-content fg-dark nlp nrp">
                                    <img src="App/Themes/Image/jeki_chan.jpg" class="place-left margin10 nlm ntm size2">
                                    <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    Lorem Ipsum has been the industry's standard dummy text.
                                </div>
                            </div>
                        </div>
                    </div>-->
	</div>
	<!-- 内容结束 -->
</div>                   
</body>
</html>