<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="content-type" />
	<title>登陆</title>
	<link rel="stylesheet" href="App/Themes/Css/login.css" />
	<script src="App/Themes/Js/jquery.min.js"></script>
	<script src="App/Themes/Js/login.js"></script>
</head>
<body>
	<div id="login">
    <!-- 邮箱 -->
    <label>邮&nbsp;&nbsp;箱:</label>
    <input class="input" type="text" placeholder="请输入注册邮箱" /><br />

    <!-- 密码 -->
    <label>密&nbsp;&nbsp;码:</label>
    <input class="input" type="password" placeholder="请输入6-15位密码" />

    <!-- 验证码 -->
    <label>验证码:</label>
    <input class="input yzm_input" type="text" placeholder="请输入6-15位密码" />
    <img class="yzm_img" src="#" />

    <!-- 登陆按钮 -->
    <button id="login_btn" class="login_btn">登陆</button>

    <!-- 注册按钮 -->
    <button class="login_btn">注册</button>
	</div>
</body>
</html>