body {
    background: #0E713A;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

#page {
    height: 100%;
}

#header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
}

    #header img {
    }

#content {
    margin-top: 90px;
    margin-left: 20px;
    height: 70%;

}
